<html>
    <head>
        <title>INSTRUCTIONS</title>
        <link rel="stylesheet" href="../css/help.css">
    </head>
    <body>
        <div>
            <h1>ONLINE VOTING SYSTEM STEP BY STEP PROCESS</h1>
            <h2>FOR FIRST TIMERS</h2>
            <p> 1.	After opening the webpage, you click on the REGISTER button<br>
                2.	Enter both your firstname and lastname, ID, Select a security question and provide answer, enter a password of your choice, Re-enter password to confirm, then click on the SUBMIT button.<br>
                3.	But if it is a valid index number and you have successfully created your password, you will have the options of VOTE NOW or HOME.<br>
                4.	If you click on the VOTE NOW, it takes you to another page that contains the images and information of the candidates involved in the election with a radio button beside it. <br>
                5.	You are expected to click the radio button to choose particular candidates, after you have successfully voted the page says thanks for voting. LOGOUT.<br>
            </p>
               <h2>FOR ALREADY REGISTERED VOTERS WITH LOGIN ISSUES.</h2>
               <p>
                1.	All you need to do is click on the SIGN IN button<br>
                2.	Enter your index number and password, if the index number is not already registered in the system it would not be recognized by the system so it is going to pop up a message that reads “index number does not exist” and If also the password is not correct, it will read “incorrect password” and gives an option that says forgot password.<br>
                3.	When you click on forgot password another page is opened where you can enter your index number, the security question you choose during registration and the answer you gave, new password.<br>
                4.	After that has successfully been done, you can now login with your index number and password and follow the instructions in 4 and 5 to vote.<br>
                </p>
                <h2>FOR ALREADY REGISTERD VOTERS WITH NO ISSUES</h2>
                <p>1.	Click on SIGN IN<br>
                2.	Enter index number and password<br>
                3.	It takes you to a page that says VOTE NOW.<br>
                4.	It takes you to another page that contains the images and information of the candidates involved in this election with a radius button beside it. <br>
                5.	You are expected to click the radius button to choose particular candidates, after you have successfully voted, the page says thanks for voting. LOGOUT.<br>
                </p>
        </div>
    </body>
</html>